@using KaraokePartyWebApp.Data.Enum
@model KaraokeClub

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<form method="post" asp-action="Criar">
  <div class="form-group">
    <label asp-for="Name">Nome do Clube</label>
    <input asp-for="Name" class="form-control" placeholder="Digite o Nome">
    <span asp-validation-for="Name" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Description">Descrição</label>
    <input asp-for="Description" class="form-control" placeholder="Digite a Descrição">
    <span asp-validation-for="Description" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Image">Imagem</label>
    <input asp-for="Image" class="form-control" placeholder="Imagem">
    <span asp-validation-for="Image" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Category">Categoria</label>
    <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()">
        <option>--Selecione--</option>
    </select>
    <span asp-validation-for="Category" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.CEP">CEP</label>
    <input asp-for="Address.CEP" class="form-control" placeholder="00000-000">
    <span asp-validation-for="Address.CEP" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.Rua">Rua</label>
    <input asp-for="Address.Rua" class="form-control" placeholder="Rua">
    <span asp-validation-for="Address.Rua" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.Cidade">Cidade</label>
    <input asp-for="Address.Cidade" class="form-control" placeholder="Cidade">
    <span asp-validation-for="Address.Cidade" class="text-danger"></span>
  </div>
  <div class="form-group">
    <label asp-for="Address.Estado">Estado</label>
    <input asp-for="Address.Estado" class="form-control" placeholder="Estado">
    <span asp-validation-for="Address.Estado" class="text-danger"></span>
  </div>
  <button type="submit" class="btn btn-primary">Criar</button>
</form>